
.rom{
    border-color: 1px, bisque;
    /*o puedes utilizar este*/
    border: 1px solid green
    background-color blue;
    /*color: browm- Cambia el ecolor del texto*/
}

.col-md-4{
    border: 10px solid coral;
}

.card{
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    }
